<h1>Welcome, {{username}}!!</h1>
<h1>You will be redirected to your Company Dashboard</h1>
<a href="/index" class="btn btn-primary">Log Out</a>




<script>
setTimeout("location.href = './dash.html';",3000);
</script>