<div=id"usernameContainer">
<img src="../img/logos/topnotch_logoWHT.png" width="325">
<h4>Welcome, {{username}}!!</h4>
<h4>You will be redirected to your Company Dashboard</h4>


<a href="/index" class="btn btn-primary">Log Out</a>


<script>
setTimeout("location.href = './dash.html';",3000);
</script>