<img src="../img/u2mlogo.png">
<h5>Welcome {{username}}</h5>
<br>
<h5>You will be automatically redirected to your site!</h5>
<!--<a href="/dash" class="btn btn-primary">Go to your Site!</a>
<br>
<a href="/logout" class="btn btn-primary">Log Out</a> -->
<script>
setTimeout("location.href = '/dash';",4000);
</script>

